@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');
:root {
    --primary-color: #ffc100;
    --primary-color-light: #fffcfa;
    --primary-color-dark: #E0A800;
    --text-dark:#fffcfa ;
    --text-light: #c2c2c2;
    --white:#ffffff ;
    --max-width: 1200px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem 3rem 1rem;
  }
  .section__header {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--text-dark);
    text-align: center;
  }
  .section__description {
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
  }
  .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  .btn:hover {
    background-color: var(--primary-color-dark);
  }
  .logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    gap: 0.5rem; 
  }
  .logo a span {
    color: var(--text-dark);
  }
  img {
    display: flex;
    width: 100%;
  }
  a {
    text-decoration: none;
    transition: 0.3s;
  }
  ul {
    list-style: none;
  }
  html,
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
  }
  body {
    font-family: "Marhey", serif;
    background: url(/images/wood-1759566.jpg);
  }

/********** Navbar *************/
  nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
    flex-direction: row-reverse;
  }
  .nav__header {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    flex-direction: row-reverse
    
  }
  .nav__logo a {
    color: var(--white);
  }
  .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
  .nav__links {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 2rem;
    backdrop-filter: blur(50px);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
  }
  .nav__links.open {
    transform: translateY(0);
  }
  .nav__links a {
    font-weight: 500;
    color: var(--white);
    flex-direction: column-reverse
  }
  .nav__links a:hover {
    color: var(--primary-color);
  }
  .nav__btn {
    display: none;
  }
  .header__container {
    display: grid;
  }
  @keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }
  .header__image img {
    max-width: 550px;
    margin-inline: auto;
    animation: rotate 10s linear infinite;
  }
  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
  }
  @media (max-width: 768px) {
    .header__content h1 {
      margin-top: 50px;
    }
  }
  .header__content h1 span {
    color: var(--primary-color);
  }
  .header__content .section__description {
    margin-bottom: 2rem;
  }
  .header__btn {
    text-align: center;
  }

  /**** menu section ****/

  .special__container :is(.section__header, .section__description) {
    max-width: 600px;
    margin-inline: auto;
  }
  .special__grid {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
    scrollbar-width: none;
  }
  .special__grid::-webkit-scrollbar {
    display: none;
  }
  .special__card {
    max-width: 350px;
    flex: 0 0 auto;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    transition: 0.3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 193, 9, 0.5);
  }
  .special__card:hover {
    box-shadow: 10px 10px 40px rgba(255, 193, 9, 0.5);
  }
  .special__card img {
    max-width: 200px;
    margin-inline: auto;
    margin-bottom: 1rem;
    filter: drop-shadow(10px 10px 20px rgba(255, 193, 9, 0.5));
  }
  .special__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
  }
  .special__card p {
    margin-bottom: 0.5rem;
    color: var(--text-light);
    line-height: 1.75rem;
  }
  .special__ratings {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: goldenrod;
  }
  .special__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .special__footer .price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  /**** banner section ****/

  .banner__container {
    display: grid;
    gap: 1rem;
  }
  .banner__card {
    text-align: right;
    direction: rtl;
    padding: 2rem;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.1);
    border-radius: 3rem;
    transition: 0.3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .banner__card:hover {
    box-shadow: 10px 10px 40px rgba(255, 193, 9, 0.5);
  }
  .banner__card .banner__icon {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 11px;
    font-size: 2rem;
    color: var(--white);
    border-radius: 1rem;
  }
  .banner__card:nth-child(1) .banner__icon {
    background-color: #62b15c;
    box-shadow: 5px 5px 30px #62b15cd0;
  } 
  .banner__card:nth-child(2) .banner__icon {
    background-color: #ff3e67;
    box-shadow: 5px 5px 30px #ff3e67d0;
  }  
  .banner__card:nth-child(3) .banner__icon {
    background-color: #185adb;
    box-shadow: 5px 5px 30px #185adbd0;
  }
  .banner__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  .banner__card p {
    margin-bottom: 1rem;
    color: var(--text-light);
    line-height: 1.75rem;
  }
  .banner__card a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 500;
    color: var(--primary-color);
  }
  .banner__card a span {
    font-size: 1.25rem;
    transition: 0.3s;
  }
  .banner__card a:hover span {
    transform: translateX(10px);
  }
  
  /****** chef section ******/

  .chef {
    position: relative;
    isolation: isolate;
    overflow: hidden;
  } 
  .chef__bg {
    position: absolute;
    z-index: -1;
    max-width: 275px;
    left: -4rem;
    bottom: -2rem;
  }
  .chef__container {
    padding-bottom: 10rem;
    display: grid;
    gap: 2rem;
  }
  .chef__content .section__description {
    margin-bottom: 1rem;
  }
  .chef__image {
    position: relative;
    isolation: isolate;
  }
  .chef__image img {
    max-width: 500px;
    border-radius: 100%;
    margin-inline: auto;
  }
  .chef__image::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    max-width: 500px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
  }
  .chef__list {
    display: grid;
    gap: 0.5rem;
  }
  .chef__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    color: var(--text-dark);
  }
  .chef__list li span {
    font-size: 1.5rem;
  }
  .chef__list li:nth-child(1) span {
    color: #62b15c;
  }
  .chef__list li:nth-child(2) span {
    color: #ff3e67;
  }
  .chef__list li:nth-child(3) span {
    color: #185adb;
  }
  
  /****** client section ******/
  
  .client__container :is(.section__header, .section__description) {
    max-width: 600px;
    margin-inline: auto;
    text-align: center;
  }
  .client__swiper {
    margin-top: 2rem;
    max-width: 750px;
    margin-inline: auto;
    padding: 3rem 1rem;
    overflow: hidden;
    border: 1px solid rgba(255, 193, 9, 0.5);
    box-shadow: 5px 5px 30px rgba(255, 193, 9, 0.2);
    border-radius: 3rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .swiper {
    padding-bottom: 3rem;
    width: 100%;
  }
  .client__card {
    text-align: center;
  }
  .client__card p {
    margin-bottom: 2rem;
    color: var(--text-dark);
    line-height: 1.75rem;
  }
  .client__card img {
    margin-bottom: 1rem;
    max-width: 70px;
    margin-inline: auto;
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  .client__card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  .client__card h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
  }
  .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
  }

  /****** footer ******/

  .footer {
    backdrop-filter: blur(10px);
    direction: rtl;
    text-align: right;
  }
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
  }
  .footer__logo {
    margin-bottom: 1rem;
  }
  .footer__col .section__description {
    text-align: right;
  }
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
  }
  .footer__links {
    display: grid;
    gap: 0.75rem;
  }
  .footer__links a {
    color: var(--text-light);
  }
  .footer__links a:hover {
    color: var(--primary-color);
  }
  .footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--white);
    text-align: center;
  }
  @media (width > 540px) {
    .special__grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .banner__container {
      grid-template-columns: repeat(2, 1fr);
    }
    .footer__container {
      grid-template-columns: 3fr 2fr;
    }
  }
  @media (width > 768px) {
    nav {
      position: static;
      padding: 2rem 1rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }
    .nav__header {
      flex: 1;
      padding: 0;
      background-color: transparent;
    }
    .nav__logo a {
      color: var(--primary-color);
    }
    .nav__menu__btn {
      display: none;
    }
    .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      background-color: transparent;
      transform: none;
      backdrop-filter: blur(0px);
    }
    .nav__links a {
      color: var(--text-dark);
    }
    .nav__links a:hover {
      color: var(--primary-color);
    }
    .nav__btn {
      display: flex;
      flex: 1;
    }
    .nav__btn .btn {
      padding: 8px 10px;
      font-size: 1.5rem;
      border-radius: 100%;
    }
    .header__container {
      grid-template-columns: 3fr 2fr;
      align-items: center;
    }
    .header__content h1,
    .header__content .section__description,
    .header__btn {
      text-align: right;
    }
    .special__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .banner__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .chef__bg {
      max-width: 300px;
    }
    .chef__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    .chef__image {
      grid-area: 1/2/2/3;
    }
    .chef__content :is(.section__header, .section__description) {
      text-align: left;
    }
    .chef__list li {
      justify-content: flex-start;
    }
    .client__swiper {
      padding: 3rem 2rem;
    }
    .footer__container {
      grid-template-columns: 2fr repeat(2, 1fr);
    }
  }
  @media (width > 1024px) {
    .special__grid {
      gap: 2rem;
    }
    .special__card {
      padding: 2rem;
      border-radius: 3rem;
    }
    .banner__container {
      gap: 2rem;
    }
    .chef__bg {
      max-width: 375px;
    }

    /***** Contact Us Section *****/
  }
  .contactus__container {
    direction: rtl;
    text-align: right;
    backdrop-filter: blur(10px);
    margin-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3rem;
    box-shadow: 10px 10px 40px rgba(255, 193, 9, 0.5);
}
.contactus__container .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;
}
.contactus__container .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    flex-wrap: nowrap;
}
.contactus__container .row section.col {
    display: flex;
    flex-direction: column;
}
.contactus__container .row section.left {
    flex-basis: 35%;
    min-width: 320px;
    margin-left: 60px;
}
.contactus__container .row section.right {
    flex-basis: 60%;
    min-width: 320px;
}
.contactus__container section.left .contactTitle h2 {
    position: relative;
    font-size: 28px;
    color: var(--white);
    display: inline-block;
    margin-bottom: 25px;
}
.contactus__container section.left .contactTitle h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #888;
    top: 120%;
    right: 0;
}
.contactus__container section.left .contactTitle h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: var(--primary-color);
    top: calc(120% - 1px);
    right: 0;
}
.contactus__container section.left .contactTitle p {
    font-size: 17px;
    color: #ccc;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
}
.contactus__container section.left .contactInfo {
    margin-bottom: 16px;
}
.contactus__container .contactInfo .iconGroup {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}
.contactus__container .iconGroup .icon {
    width: 45px;
    height: 45px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    margin-left: 20px;
    position: relative;
}
.contactus__container .iconGroup .icon i {
    font-size: 20px;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contactus__container .iconGroup .details span {
    display: block;
    color: #888;
    font-size: 18px;
}
.contactus__container .iconGroup .details span:nth-child(1) {
    text-transform: uppercase;
    color: #ccc;
}
.contactus__container section.left .socialMedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0px 20px;
}
.contactus__container .socialMedia a {
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: 0.4s;
}
.contactus__container .socialMedia a i {
    color: #ddd;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid transparent;
    transition-delay: 0.4s;
}
.contactus__container .socialMedia a:hover {
    transform: translateY(-5px);
    background-color: #2e2e2e;
    color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
}
.contactus__container .socialMedia a:hover i {
    color: var(--primary-color-dark);
}
.contactus__container .row section.right .messageForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.contactus__container .row section.right .inputGroup {
    margin: 18px 0px;
    position: relative;
}
.contactus__container .messageForm .halfWidth {
    flex-basis: 48%;
}
.contactus__container .messageForm .fullWidth {
    flex-basis: 100%;
}
.contactus__container .messageForm input,
.contactus__container .messageForm textarea {
    width: 100%;
    font-size: 18px;
    padding: 2px 0px;
    background-color: #2e2e2e;
    color: #ddd;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
}
.contactus__container .messageForm textarea {
    resize: none;
    height: 220px;
    display: block;
}
.contactus__container textarea::-webkit-scrollbar {
    width: 5px;
}
@media (max-width: 1100px) {
    .contactus__container .messageForm .halfWidth {
        flex-basis: 100%;
    }
}
@media (max-width: 900px) {
    .contactus__container .container .row {
        flex-wrap: wrap;
    }
    .contactus__container .row section.left,
    .contactus__container .row section.right {
        flex-basis: 100%;
        margin: 0px;
    }

    .contactus__container .row section.right iframe {
        width: 100%;
        height: 300px;
    }
}
.contactus__container .row section.right iframe {
    width: 100%;
    height: 450px;
    border: 0;
}
@media (max-width: 768px) {
    .contactus__container .row {
        flex-wrap: wrap;
    }
    .contactus__container .row section.left,
    .contactus__container .row section.right {
        flex-basis: 100%;
        margin: 0;
    }
    .contactus__container .row section.right iframe {
        height: 300px;
    }
}
@media (max-width: 600px) {
    .contactus__container .row section.right iframe {
        height: 200px;
    }
    .contactus__container .container {
        padding: 15px 4%;
    }
    .contactus__container .row section.left,
    .contactus__container .row section.right {
        flex-basis: 100%;
        margin: 0;
    }
    .contactus__container .row section.left .contactTitle h2 {
        font-size: 24px;
    }
    .contactus__container .row section.left .contactTitle p,
    .contactus__container .row section.left .contactInfo .details span {
        font-size: 14px; 
    }

    .contactus__container .row section.left .contactInfo .iconGroup .icon {
        width: 35px;
        height: 35px;
    }

    .contactus__container .row section.left .contactInfo .iconGroup .icon i {
        font-size: 16px;
    }

    .contactus__container .row section.left .socialMedia a {
        width: 30px;
        height: 30px;}
}